<div class="customerOrders view">
    <div class="container">
        <header>
            <h3>Customer Orders</h3>
        </header>
        <div>
            <div class="row">
                <div class="span12">
                    <div class="indent">
                        <h4>Orders for {{ resource.firstName + ' ' + resource.lastName }}</h4>
                        {{resource.address}}
                        <br />
                        {{resource.city}}
                        <br /><br />
                    </div>
                </div>                
                <br /><br />
                <div class="span12">
                    <div data-ng-include="'/ResourceManager/app/partials/ordersTable.html'" />
                </div>
            </div>
        </div>
    </div>
</div>
