<div class="customers view">
    <div class="container">
        <header>
            <span style="font-size: 18pt;padding-top: 20px;">Resources</span>
            <img src="/ResourceManager/Content/images/add_user.png" ng-click="toggleInputForm()" />
            <img src="/ResourceManager/Content/images/add_user.png" ng-click="togglePerfChart()" />
        </header>
        <div class="row" ng-show="showInputForm">
            <div class="span3">
                First Name:
                <br />
                <input data-ng-model="newResource.firstName" type="text" placeholder="First Name">
            </div>
            <div class="span3">
                Last Name:
                <br />
                <input data-ng-model="newResource.lastName" type="text" placeholder="Last Name">
            </div>
            <div class="span6">
                Role:
                <br />
                <input data-ng-model="newResource.role" type="text" placeholder="Role">
                <button id="submitMate" class="btn btn-primary" type="button"
                    data-ng-disabled="!newResource.firstName || !newResource.lastName || !newResource.role"
                    data-ng-click="insertResource()">Add Resource</button>
            </div>
        </div>
        <div class="row" ng-show="showPerfChart">
            <div class="span3">
            Chart Goes Here
            </div>
        </div>
        <br /><br />
        <div>
            <div class="row cardContainer">
                <div class="span3 card" data-ng-repeat="resource in resources | orderBy:'lastName'">
                    <button class="btn close cardClose" data-ng-click="deleteResource(resource.id)">&times;</button>
                    <div ng-class="{'Developer': 'cardDeveloper', 'Manager': 'cardManager'}[resource.role]">{{resource.firstName + ' ' + resource.lastName}}</div>
                    <div class="cardBody">{{resource.city}}</div>
                    <a href="#/resourceprojects/{{resource.id}}" class="cardBody btn-link">View {{ resource.orders.length }} Tasks</a>
                </div>
            </div>
        </div>
    </div>
</div>